:root {
    --text-color: rgba(0,0,0,0.77);
    --bg-color: #C8C8CB;
    --accent-color: rgba(91,91,91,0.77);
    --card-color: #F0EBE8;
}

.CardContainer {
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    background-color: var(--card-color);
    background-image: url("../images/card.jpg");
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.69);
    top:50%;
}

.CardContainer .CardBorder {
    box-sizing: border-box;
    border-style: solid;
    border-radius: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0.25rem;
    border-color: var(--accent-color);
    border-width: 0.25rem;
}

.CardContainer .CardContainerInner {
    box-sizing: border-box;
    padding: 3rem;
    display: flex;
    align-items: flex-start;
    flex-direction:column;
    justify-content:space-between;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.NavBar {
    display: inline-flex;
    align-items: flex-start;
    gap: 2rem;
}

.BodyLink {
    font-weight: bold;
    text-decoration-line: none;
    color: var(--text-color);
}



#Socials {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#NameTag{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    grid-column: 1;
}

#HRule {
    display: flex;
    height: 4px;
    background-color: var(--accent-color);
    width: 100%;
}

@media screen and (min-width: 900px) {
    .Content {
        display: inline-grid;
        grid-template-columns: auto,auto;
    }
    #AboutMe {
        grid-column: 2;
        margin-left: 20%;
    }
    .Footer {
        box-sizing: border-box;
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }


    .CardContainer {
        min-height: 35rem;
        position: absolute;
        top:5%;
        bottom:5%;
        left: 5%;
        right: 5%;
    }
    
    .CardContainer .CardBorder {
        position: absolute;
    }
    
    .CardContainer .CardContainerInner {
        height:inherit;
        position: absolute;
    }

}

@media screen and (max-width: 899px) {
    .Content {
        display: flex;
        align-items: flex-start;
        flex-direction:column;
        justify-content:space-between;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #AboutMe {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .Footer {
        display: flex;
        align-items: flex-start;
        flex-direction:column;
        justify-content:space-between;
        gap:1rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .CardContainer {
        margin:5%;
    }
}

@media screen and (max-width: 499px) {
    body {
        font-size: 1rem;
        font-family: Courier, monospace;
    }

    .Heading {
        font-weight: normal;
        font-size: 3rem;
        color: var(--text-color);
    }

    .CardContainer .CardContainerInner {
        padding: 1.5rem;
    }

    #Socials svg {
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (min-width: 500px) {
    body {
        font-size: 1.5rem;
        font-family: Courier, monospace;
    }

    .Heading {
        font-weight: normal;
        font-size: 5.5rem;
        color: var(--text-color);
    }

    .CardContainer .CardContainerInner {
        padding: 3rem;
    }

    #Socials svg {
        width: 4rem;
        height: 4rem;
    }
}



